/*
Style Name: HTML Atributes & Forms 
Description: Class File
Author: Roy
Version: 1.0
Tags: Learning HTML
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #e3e3dc;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
  Fonts
-------------- */


/* ------------ */

/* -------------
  Plugins
-------------*/

/* -------------
  Reset
-------------*/

.largen {font-size: 120%;}

body {
   margin: 0;
   padding: 0;
   color:black;
   background-color: #e3e3dc;
}

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles                        
   02. CSS Grid                           
/* _____________________________________

   01. General Styles
   _____________________________________ */

   .hidden {
       display: none;
   }

   .box-model {
      margin: 1rem;
      padding: 1rem;
      background: #888;
   }

   section {
      margin: 3rem 0;
   }
   .border-top{
border-top: 1px solid #9a2018;
padding-top: 1.5em;
}
.border-logotop{
   margin-right: 11em;
   display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    padding-top: 1.5em;

}

.margin-top {
   margin-top: 1em;
}
.margin-top-2 {
   margin-top: 2em;
}
.margin-tb {
   margin: 2em 0em 3em;
}

.margin-left {
   margin-left: 1em;
}

.margin-right {
   margin-right: 1em;
}

.margin-superleft {
   margin-left: 10em;
}

.margin-bottom {
   margin-bottom: 2em;
}
/* _____________________________________

   Font Awsome
   _____________________________________ */
   .f-left {
      float: left;
   }
   .f-right{
      float: right;
   }
/* _____________________________________

   Font Awsome
   _____________________________________ */

   .fas {
      margin-right: .5em;
      font-size: 4em;
      color:#7f6359 ;
   }


   /* _____________________________________

   brand colour
   _____________________________________ */
   .cr-red {
      color: grey;
      text-decoration: none;
   }
   
   span a:hover{
      padding-bottom: .5em;
      color: white;
      -webkit-transition: color 500ms linear;
         -ms-transition: color 500ms linear;
         transition: color 500ms linear;
         
   }
   

/* _____________________________________

   02. CSS Grid
   _____________________________________ */

   @supports (grid-area: auto) {
      .site{max-width: none;}
      
      /* grid items */
      .head, .main > *, .foot > *{
         display: grid;
         grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
      }

      .one-item {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: 1fr;
         row-gap: 1em;
      }

      .two-item {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(2, 1fr);
         justify-content: space-evenly;
         row-gap: 1em;
      }

      .three-item {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         row-gap: 1em;

      }
      .four-item {
         display: grid;
         grid-column: 2 / span 2;
         grid-template-columns: repeat(4, 1fr);
         justify-content: space-evenly;
         row-gap: 1em;

      }
   
      .contact-override {
         display: grid;
         grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
         grid-column: 1 / span 4;
         background-color: #f4f4f4;
         border-bottom: 1px solid #ccc;
      }
   /* _____________________________________

   END CSS Grid
   _____________________________________ */
   /* _____________________________________

   Site Header
   _____________________________________ */
   header{
      position: sticky;
      top: 0em;
      background-color: #e3e3dc;
      border-bottom: 1 solid #e6e6e6;
      box-shadow: 0px 5px 8px #888;
   }

   .logo{grid-column: 1 / span 4;}

   .logo-image{padding: 1em;
   width: 50%;
   }
   
   .banner-logo{grid-column: 1 / span 1;}

   .nav {grid-column: -4/ span 2;
   padding-top: 1.5em;
   margin-left: 10em;}

   nav ul {
      margin:0;
      padding: 0;
      text-decoration: none;
      text-align: start;
   }

   nav li {
      display: inline;
      margin-right: 10em;
   }
   nav li:last-child {
      margin-right: 0em;
   }

   nav li a {
      
      color: #626262;
      font-size: inherit;
      text-decoration: none;
   }
   nav li a:hover{
      color: #a88c6f;
      -webkit-transition: color 500ms linear;
         -ms-transition: color 500ms linear;
         transition: color 500ms linear;
   }

   nav li a.active {
      color: #a88c6f;
   }

   nav li h3 {
      display: inline;
      padding: 1.5em 1.5em 1.6em ;
      background-color: #9a2018;
      color: #fff;
      font-size: 1em;
      -webkit-transition: background-color 500ms linear;
         -ms-transition: background-color 500ms linear;
         transition: background-color 500ms linear;
   }
   
   nav li h3:hover {
      background-color: #626262;
      -webkit-transition: background-color 500ms linear;
         -ms-transition: background-color 500ms linear;
         transition: background-color 500ms linear;
   }
 /* _____________________________________

   End of Site Header
   _____________________________________ */
 /* _____________________________________

   Start Hero
   _____________________________________ */
      .hero{
         margin: 0 0;
      }

      .hero-image img {
         width: 100%;
      }
      
      .hero-image {
         display: grid;
         grid-column: span 4 ;
         margin-bottom: 1em;
      }

      .hero-image > * {
         grid-column: 1;
         grid-row: 1;
      }

      .hero-image h2, .hero-image h3 {
         background: #a88c6f;
         padding: 4em 19em;
         font-size: 1.8em;
         font-weight: 300;
         color: white;
      }

      .hero-image h2 span, .faq h2 span, .hero-image h3 span {
         font-size: .65em;
         color: #9a2018;
      }

      .hero-image h2.left {
         align-self: flex-end;
         justify-self: start;
         margin-left: 9em;

      }
      .hero-image h2.right {
         align-self: flex-end;
         justify-self: end;
         margin-right: 9em;

      }

      

      .contact-item {
         padding: 2em;
      }

      .banner-box {background: #594841;
      color: white;
      padding: 4em 4em ;
      font-size: 1.2em;
      

      
   }

   .coffebox {background: #594841;
      color: white;
      padding: 2em 2em ;
      font-size: 1.2em;}
      .coffebox2 {background: #a88c6f;
         color: white;
         padding: 2em 2em ;
         font-size: 1.2em;}

   .fillbanner {background-color: #a88c6f;
      color: white;
      padding: 4em 4em ;
      font-size: 1.2em}



   /* _____________________________________-

   End Hero
   _____________________________________ */

   /* _____________________________________

      Index WHY Choose us
   _____________________________________ */
      .why-nav ul {
         text-align: start;
         padding: 2em 0;
      }

      .why-us-img img {
         width: 100%;
      }
      
      .why-us-img {
         display: grid;
         grid-column: span 1;
      }

      .why-us-img > * {
         grid-column: 1;
         grid-row: 1;
      }

      .why-us-img p {
         font-size: .7em;
         padding: 0em 1.15em;
      }

      .why-us-img a {
         color:inherit;
         text-decoration: none;
      }
      .why-us-img a:hover {
         text-decoration: underline;

      }
      /* _____________________________________

      FAQ
   _____________________________________ */
   .faq {
      background-color: #f4f4f4;
      padding: 4em 0em 6em 0em;

   }

   .faq-items{
      color: inherit;
      margin-bottom: 1em;
   }

   .faq-items h3 {
      background-color: #e8e7e7;
      padding: 1em;
      font-size: 1em;
      font-weight: 300;
   }
   

   .foot-color{
      background-color: #7f6359;
   }

   .content2color {color:#a88c6f;}

   input[type=text], select, textarea {
      width: 100%;
      padding: 10px; 
      border: 1px solid #ccc;
      box-sizing: border-box; 
      margin-top: 2px;
      margin-bottom: 2px; 
      resize: vertical 
    }
    
    input[type=submit] {
      color: white;
      background: darkred;
      padding: 12px 20px;
      border-radius: 4px;
    }
    input[type=submit]:hover {
      background-color: red;
      -webkit-transition: background-color 500ms linear;
         -ms-transition: background-color 500ms linear;
         transition: background-color 500ms linear;
    }
    
    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      height: auto;
      
      
    }

    .whitecolor {color: white;}


}
   